# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
notonclient/target
notonclient/dist
notonclient/tmp
notonclient/out-tsc
# Only exists if Bazel was run
notonclient/bazel-out

# dependencies
notonclient/node_modules

# profiling files
notonclient/chrome-profiler-events.json
notonclient/speed-measure-plugin.json

# misc
notonclient/.sass-cache
notonclient/connect.lock
notonclient/coverage
notonclient/libpeerconnection.log
notonclient/npm-debug.log
notonclient/testem.log
notonclient/typings

# System Files
notonclient/.DS_Store
notonclient/Thumbs.db

notonclient/.editorconfig
notonclient/package-lock.json

notonserver/target

/.idea
*.iml


