<div class="my-3">
  <button class="btn btn-primary btn-block" type="button" id="button-add"
          (click)="saveNote()">
    Add Note
  </button>
</div>
<div class="note-list-item" *ngFor="let note of notes">
  <div class="input-group mb-3">
    <input type="text" class="form-control"
           #textBox
           [ngModel]="note.text"
           (keyup.enter)="updateNote(note.id, textBox.value)"
           (blur)="updateNote(note.id, textBox.value)">
    <div class="input-group-append">
      <button class="btn btn-danger" type="button" id="button-item"
              (click)="deleteNote(note)">
        X
      </button>
    </div>
  </div>
</div>
